{% extends "base_account.html" %}

{% load static %}
<!-- Loading Path to static files -->
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %} LOGIN {% endblock %}

{% block head_css %}
{% endblock %}

{% block head_javascript %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

    <!----Login Modal Start---->
    <div class="ms_register_popup">

        <!----Login Popup Start---->
        <div class="centered-modal" role="dialog">
            <div class="login_dialog">


                {% if messages %}
                    {% for message in messages %}
                    <div style="text-align: center;" {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show" {% else %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                        {{ message|safe }}
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    <br>
                {% endif %}


                <!-- Modal content-->
                <div class="modal-content">

                    <form method="post" class="needs-validation" novalidate>

                        {% csrf_token %}

                        <div class="modal-body">
                            <div class="ms_register_img">
                                <img src="{% static 'images/register_img.png' %}" alt="" class="img-fluid"/>
                            </div>

                            <div class="ms_register_form">
                                <h2>login / Sign in</h2>

                                <div class="form-group">
                                    <input type="text" id="username" name="username" placeholder="Enter Your Email or Username" class="form-control" required>

                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>

                                    <span class="form_icon">
                                        <i class="fa_icon form-envelope" aria-hidden="true"></i>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <input type="password" id="password" name="password" placeholder="Enter Password" class="form-control" required>

                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div>

                                    <span class="form_icon">
                                        <i class="fa_icon form-lock" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="remember_checkbox">
                                    <label>Keep me signed in
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="ms_upload_btn">
                                    <input type="submit" class="ms_btn" style="cursor: pointer" value=" login now "/>
                                    <!--
                                    <button type="submit" style="cursor: pointer" class="ms_btn"> login now </button>
                                    -->
                                </div>
                                <!--
                                <a href="#" class="ms_btn" target="_blank">login now</a>
                                -->
                                <div class="popup_forgot">
                                    <a href="{% url 'password_reset' %}">Forgot Password ?</a>
                                </div>
                                <p>Don't Have An Account? <a href="{% url 'register' %}" class="ms_modal1 hideCurrentModel">register here</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}

        <script type="text/javascript">

        // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
                })
            })()

        </script>
    {% endblock %}

{% endblock %}
