{% extends "account/base_out.html" %}

{% load static %}
<!-- Loading Path to static files -->
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %} Recover Password {% endblock %}


{% block content %}

    <!----Upload and Share Wrapper Start---->
    <div class="ms_upload_wrapper marger_top60">

        <br>

        {% if messages %}
            {% for message in messages %}
            <div style="text-align: center;" {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show" {% else %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <br>
        {% endif %}

        <div class="ms_upload_box">
            <h2>Reset Password.</h2>

            <br/>

            <p class="text-muted">Please enter your email to recover your account.</p>

            <br/>
            <br/>

            <label for="email"> <p> Enter your Email and instructions will be sent to you! </p> </label>

            <div class="ms_pro_form">
                <form style="grid-area: form;" method="post" id="recover_form" class="needs-validation" novalidate>

                    {% csrf_token %}

                    <div class="form-group">
                        <input type="email" id="email" name="email" value="" placeholder="Enter your Email *" class="form-control" required>

                        <div id="error"></div>

                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>

                    <div class="pro-form-btn text-center marger_top15">
                        <a href="{% url 'login' %}" class="ms_btn">cancel</a>
                        <a onclick="subForm()" style="color: white; cursor: pointer;" class="ms_btn">send</a>
                    </div>

                </form>
            </div>

            <br/>
            <br/>
        </div>
        <div class=" marger_top60">

        </div>
    </div>
    <!----Main div close---->

    {% block javascript %}

        <script>

            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            var user_email = document.getElementById("email");
            // var user_email = $("#email").val();

            user_email.onblur = function()
            {
                if ( !(user_email.value.match(mailformat)) )
                {
                    user_email.classList.add('invalid');
                    error.innerHTML = 'Please enter a correct email \n \n' + " <br> ";
                    error.innerHTML += ' \n \n e.g. john-doe@gmail.com';
                }
            };

            user_email.onfocus = function() {
                if (this.classList.contains('invalid')) {
                    // remove the "error" indication, because the user wants to re-enter something
                    this.classList.remove('invalid');
                    error.innerHTML = "";
                }
            };

            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation');

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {

                        if ( !form.checkValidity() ) {
                            // user_email.classList.add('invalid');
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })();

            function subForm()
            {
                var mail = $("#email").val();

                console.log("*********** form data **********")
                console.log(" mail : ", mail);

                if (mail !== '' && mail !== undefined)
                {
                    document.getElementById("recover_form").submit();
                }
                else
                {
                    swal(" REQUIRED FIELDS CANNOT BE EMPTY");
                }
            }
        </script>

    {% endblock %}

{% endblock %}
