{% extends "account/base_out.html" %}

{% load static %}
<!-- Loading Path to static files -->
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %} Recover Password Done {% endblock %}


{% block content %}

    <!----Upload and Share Wrapper Start---->
    <div class="ms_upload_wrapper marger_top60">

        <br>

        {% if messages %}
            {% for message in messages %}
            <div style="text-align: center;" {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show" {% else %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <br>
        {% endif %}

        <div class="ms_upload_box">
            <h2>Password reset sent.</h2>

            <br/>

            <p>
                We've emailed you instructions for setting your password.
                <br>
                If an account exists with the email you entered.
                You should receive them shortly.
            </p>

            <br/>
            <br/>

            <p>
                If you have not received an email, please make sure you've entered the address you registered with, and check your spam folder.
            </p>

            <br/>
            <br/>
        </div>

        <div class=" marger_top60"></div>
    </div>
    <!----Main div close---->

    {% block javascript %}

    {% endblock %}

{% endblock %}

    

                        