{% extends "account/base_out.html" %}

{% load static %}
<!-- Loading Path to static files -->
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %} Recover Password Complete {% endblock %}


{% block content %}

    <!----Upload and Share Wrapper Start---->
    <div class="ms_upload_wrapper marger_top60">

        <br>

        {% if messages %}
            {% for message in messages %}
            <div style="text-align: center;" {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show" {% else %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <br>
        {% endif %}

        <div class="ms_upload_box">
            <h2>Password Reset Complete.</h2>

            <br/>
            <br/>

            <p>
                Your password has been set. You may go ahead and log in now !
            </p>

            <br/>
            <br/>

            <div class="row">
                <div class="col-sm-12">

                    <span style="margin-left: 5px;"> <a href="{% url 'login' %}" class="fw-medium" style="color: #e4032e;"> Login </a> </span>

                </div>
            </div>

            <br/>
            <br/>
        </div>

        <div class=" marger_top60"></div>
    </div>
    <!----Main div close---->

    {% block javascript %}

    {% endblock %}

{% endblock %}

    

                        