{% extends "account/base_out.html" %}

{% load static %}
<!-- Loading Path to static files -->
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %} Recover Password Confirm {% endblock %}


{% block content %}

    <!----Upload and Share Wrapper Start---->
    <div class="ms_upload_wrapper marger_top60">

        <br>

        {% if messages %}
            {% for message in messages %}
            <div style="text-align: center;" {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show" {% else %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <br>
        {% endif %}

        <div class="ms_upload_box">
            <h2>Enter new Password !</h2>

            <br/>

            <p>
                Please enter your new password twice so we can verify you typed it in correctly.
            </p>

            <br/>
            <br/>

             <div class="ms_pro_form">
                <form style="grid-area: form;" method="post" id="recover_form" class="needs-validation" novalidate>

                    {% csrf_token %}

                    <div class="form-group">
                        <label for="new_password1">New Password *</label>
                        <input type="password" id="new_password1" name="new_password1" placeholder="Enter New Password *" class="form-control" required>

                        <div id="error"></div>

                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="new_password2">Confirm Password *</label>
                        <input type="password" id="new_password2" name="new_password2" placeholder="Re-enter Password *" class="form-control" required>

                        <div id="error"></div>

                        <div class="invalid-feedback">
                            This field is required.
                        </div>
                    </div>

                    <div class="pro-form-btn text-center marger_top15">
                        <a href="{% url 'login' %}" class="ms_btn">cancel</a>

                        <input type="submit" class="ms_btn" value="send"/>

                        <!--
                        <a onclick="subForm()" type="submit" style="color: white; cursor: pointer;" class="ms_btn">
                            send
                        </a>
                        -->
                    </div>

                </form>
            </div>
        </div>

        <div class=" marger_top60"></div>
    </div>
    <!----Main div close---->

    {% block javascript %}
        <script>

            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation');

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {

                        if ( !form.checkValidity() ) {
                            // user_email.classList.add('invalid');
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })();

            function subForm()
            {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.querySelectorAll('.needs-validation');

                var pass1 = $("#new_password1").val();
                var pass2 = $("#new_password2").val();

                console.log("*********** form data **********")
                console.log(" nah ");

                if ((pass1 !== '' && pass1 !== undefined) && (pass2 !== '' && pass2 !== undefined))
                {
                    // Loop over them and submit
                    Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.classList.add('was-validated');
                    });

                    document.getElementById("recover_form").submit();
                }
                else
                {
                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.classList.add('invalid');
                    });

                    swal("REQUIRED FIELDS CANNOT BE EMPTY");
                }
            }
        </script>
    {% endblock %}

{% endblock %}

    




