{% extends "account/base_out.html" %}

{% load static %}
<!-- Loading Path to static files -->
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %} Register Done {% endblock %}


{% block content %}

    <!----Upload and Share Wrapper Start---->
    <div class="ms_upload_wrapper marger_top60">

        <div style="margin-top: 12px; height: 12px;">

        </div>

        <br>

        {% if messages %}
            {% for message in messages %}
            <div style="text-align: center;" {% if message.tags == 'warning' %} class="alert alert-danger alert-dismissible fade show" {% else %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <br>
        {% endif %}

        <div class="ms_upload_box">
            <h2>Email Confirmation Sent.</h2>

            <br/>
            <br>
            <br/>

            <p>
                We've emailed you instructions for confirming your email address and activating your account.
                You should receive them shortly.
            </p>

            <br/>
            <br/>

            <p>If you have not received an email, please check your spam folder.</p>

            <br/>
            <br/>
            <br/>
        </div>
        <div class=" marger_top60">

        </div>
    </div>
    <!----Main div close---->

{% endblock %}
